@{
    ViewBag.Title = "Vows";
}

<div class="autoElement01" align="center">

    <p class="superHeaderText">Welcome to Vows<br /></p>
    <p>Tie the knot easier with the help of our<br /><b>Wedding Plan Organizer</b><br /><br />
    Find all the services you need for your special day from our pool of registered Vendors and keep track of your<br />
    budget and to do list with our easy to use Wedding Package View.<br /><br />
    Register above and start an account with us if you're looking to plan a wedding<br />
    or join our registered Vendors and start booking today.</p>
</div>
