@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <div class="selectorHorizontal">
        <span class="possibleSelection">
            @Html.ActionLink("Account Settings", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        </span>
        <span class="possibleSelection"><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></span>
    </div>
    }
}
else
{
    <div class="selectorHorizontal">
        <span class="possibleSelection">@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</span>
        <span class="possibleSelection">@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</span>
    </div>
}
