@{
    ViewBag.Title = "Home Page";
}

<input type="hidden" value="0" id="myYrVar" />
<input type="hidden" value="0" id="myMtVar" />

<form id="editForm" style="margin-top:25px">
</form>

<table style="visibility:hidden; display:none"><tbody id="tempTbl"></tbody></table>

<p id="css"></p>


<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript">
    function convertToMonth(monthNum) {
        switch (monthNum) {
            case 0:
                return 'January';
            case 1:
                return 'February';
            case 2:
                return 'March';
            case 3:
                return 'April';
            case 4:
                return 'May';
            case 5:
                return 'June';
            case 6:
                return 'July';
            case 7:
                return 'August';
            case 8:
                return 'September';
            case 9:
                return 'October';
            case 10:
                return 'November';
            case 11:
                return 'December';
            default:
                return monthNum;
        }
    }

    function makeTable(string) {
        var table = "<table id='calendar' class='calender' border='2'>" + string;
        document.getElementById('editForm').innerHTML = table;
        document.getElementById('css').innerHTML = '<style>.box {width: 50px; padding-bottom: 30px;} .content:hover {background-color:lightgreen; opacity:.8; cursor:pointer;} .pointer:hover {cursor:pointer; background-color:lightblue; opacity:.75;} .dropdown-content {display: none; position: absolute; max-width: 40px; overflow: auto; z-index: 1; left: 50%; max-height: 17px} .dropdown-day {display: none; position: absolute; max-width: 25px; overflow: auto; z-index: 1; left: 45%; max-height: 17px} .calender {position: relative}</style>';
    }

    function makeCalendar(month, year) {
        var tableString = "<thead colspan='7'><tr colspan='7'><th colspan='7'><div align='center'><text id='month' class='pointer' onclick='chooseMonth()'></text><text id='year' class='pointer' onclick='chooseYear()'></text><input type='text' id='yrChoice' class='dropdown-content'></input><div><text onclick='previous()' class='pointer'> < </text><text onclick='next()' class='pointer'> > </text></div></div></th></tr></thead><tbody id='calendarDays'></tbody></table>";
        makeTable(tableString);
        document.getElementById('month').innerHTML = convertToMonth(month);
        document.getElementById('year').innerHTML = ' ' + year;
        var firstDayOfMnth = new Date(year, month, 1).getDay();
        var numOfDays = new Date(year, month + 1, 0).getDate();
        var dayCounter = 1;
        var IsFirst = true;
        var daysOfWeek = "<tr><td class='box'>Sun</td><td class='box'>Mon</td><td class='box'>Tues</td><td class='box'>Wed</td><td class='box'>Thurs</td><td class='box'>Fri</td><td class='box'>Sat</td></tr>";
        var newWeek = '';
        for (var i = 0; i < 6; i++) {
            newWeek += "<tr id='week" + i + "'>";
            for (var k = 0; k < 7; k++) {
                if (k == firstDayOfMnth && IsFirst == true && i == 0) {
                    IsFirst = false;
                    newWeek += '<td class="content box" id="cell' + dayCounter + '" onclick="makeLayout(' + dayCounter + ')">' + dayCounter + '</td>';
                    dayCounter++;
                }
                else if (IsFirst == false) {
                    if (dayCounter > numOfDays) {
                        IsFirst = true;
                        dayCounter = 1;
                        newWeek += '<td class="box" style="background-color:gray; opacity:.4"></td>';
                    }
                    else {
                        newWeek += '<td class="content box" id="cell' + dayCounter + '" onclick="makeLayout(' + dayCounter + ')">' + dayCounter + '</td>';
                        dayCounter++;
                    }
                }
                else {
                    newWeek += '<td class="box" style="background-color:gray; opacity:.4"></td>';
                }
            }
            newWeek += '</tr>';
        }
        document.getElementById('tempTbl').innerHTML = daysOfWeek + newWeek;
        document.getElementById('calendarDays').innerHTML = daysOfWeek + newWeek;
    }

    function current() {
        var month = new Date().getMonth();
        var year = new Date().getFullYear();
        $("#myMtVar").val(month);
        $("#myYrVar").val(year);
        makeCalendar(month, year)
    }

    function chooseMonth() {

    }

    function chooseYear() {
        document.getElementById('yrChoice').classList.toggle('show');
    }

    function chooseDay() {
        document.getElementById('dayChoice').classList.toggle('show');
    }

    function previous() {
        var currentMonth = $("#myMtVar").val();
        var currentYear = $("#myYrVar").val();
        if (Number(currentMonth) - 1 < 0) {
            currentMonth = 11;
            currentYear--;
            $("#myYrVar").val(currentYear);
        }
        else {
            currentMonth--;
        }
        $("#myMtVar").val(currentMonth);
        for (var i = 0; i < 5; i++) {
            $("#week" + i).val("");
        }
        makeCalendar(Number(currentMonth), currentYear)
    }

    function next() {
        var currentMonth = $("#myMtVar").val();
        var currentYear = $("#myYrVar").val();
        if (Number(currentMonth) + 1 > 11) {
            currentMonth = 0;
            currentYear++;
            $("#myYrVar").val(currentYear);
        }
        else {
            currentMonth++;
        }
        $("#myMtVar").val(currentMonth);
        for (var i = 0; i < 5; i++) {
            $("#week" + i).val("");
        }
        makeCalendar(Number(currentMonth), currentYear)
    }

    function makeLayout(day) {
        var dayLayout = "";
        var tableString = '<thead colspan="2"><tr colspan="2"><th colspan="2"><div align="center"><text onclick="prevDay(' + day + ')" class="pointer"> < </text><text id="month" class="pointer" onclick="chooseMonth()"></text><text id="day" class="pointer" onclick="chooseDay()"></text><input type="text" id="dayChoice" class="dropdown-day"></input><text id="year" class="pointer" onclick="chooseYear()"></text><input type="text" id="yrChoice" class="dropdown-content"></input><text onclick="nextDay(' + day + ')" class="pointer"> > </text></div></th></tr></thead><tbody id="calendarDays"></tbody></table>';
        var header = "<tr><td>Time</td><td>Appointments</td></tr>";
        var saveButton = "<br/><input type='button' onclick='setAgenda()' value='Save Agenda'/>";
        var month = Number($("#myMtVar").val());
        var year = $("#myYrVar").val();
        var calendarBtn = "<input type='button' onclick='makeCalendar(" + month + "," + year + ")' value='Calendar'/>";
        var amPm = "A.M.";
        var time = 12;
        var oldTime = time;
        var notFound = true;
        for (var i = 0; i < 24; i++) {
            dayLayout += "<tr><td id='time" + i + "'>" + time + ":00 " + amPm + "</td><td><textarea rows='4' cols='50' id='textbox" + i + "' style='resize:none; border: none; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;'></textarea><div><input type='checkbox'> Important</input></div></td></tr>";
            if (time + 1 > 12) {
                time = 1;
            }
            else {
                time++;
                if (time == oldTime) {
                    amPm = "P.M.";
                }
            }
        }
        makeTable(tableString);
        document.getElementById('day').innerHTML = day;
        document.getElementById('month').innerHTML = convertToMonth(month) + " ";
        document.getElementById('year').innerHTML = ", " + year;
        document.getElementById('editForm').innerHTML += saveButton + calendarBtn;
        document.getElementById('calendarDays').innerHTML = header + dayLayout;
        ajax("https://localhost:44354/api/Schedules/", "get", null, function (data, textStatus, jQxhr) {
            if (!$.trim(data)) {
                for (var i = 0; i < 24; i++) {
                    document.getElementById('textbox' + i).innerHTML = "";
                }
                notFound = false;
            }
            else {
                $.each(data, function (i, val) {
                    var scheduleId = val.Id;
                    if (val.Month == convertToMonth(Number($("#myMtVar").val())) && val.Year == Number($("#myYrVar").val()) && val.Day == day) {
                        ajax("https://localhost:44354/api/Times/", "get", null, function (data) {
                            $.each(data, function (i, val) {
                                if (scheduleId == val.ScheduleId) {
                                    for (var j = 0; j < 24; j++) {
                                        if (val.Hour == document.getElementById('time' + j).innerHTML && (val.Content !== null && val.Content !== "" && val.Content !== undefined)) {
                                            document.getElementById('textbox' + j).innerHTML = val.Content;
                                            document.getElementById('time' + j).style.backgroundColor = 'lightgreen';
                                        }
                                    }
                                }
                            })
                        })
                        notFound = false;
                        return false;
                    }
                })
            }
            if (notFound == true) {
                for (var i = 0; i < 24; i++) {
                    document.getElementById('textbox' + i).innerHTML = "";
                }
            }
        })
    }

    function prevDay(day) {
        var currentMonth = $("#myMtVar").val();
        var year = $("#myYrVar").val();
        var lastDay = new Date(year, Number(currentMonth) + 1, 0).getDate();
        var id = Number(document.getElementById('cell' + day).innerHTML);
        if (id - 1 < 1) {
            id = Number(document.getElementById('cell' + lastDay).innerHTML);
        }
        else {
            id = document.getElementById('cell' + (day - 1)).innerHTML;
        }
        makeLayout(id);
    }

    function nextDay(day) {
        var currentMonth = $("#myMtVar").val();
        var year = $("#myYrVar").val();
        var lastDay = new Date(year, Number(currentMonth) + 1, 0).getDate();
        var id = Number(document.getElementById('cell' + day).innerHTML);
        if (id + 1 > lastDay) {
            id = Number(document.getElementById('cell1').innerHTML);
        }
        else {
            id = document.getElementById('cell' + (day + 1)).innerHTML;
        }
        makeLayout(id);
    }

    function setAgenda() {
        var id = null;
        var isFound = false;
        ajax("https://localhost:44354/api/Schedules/", "get", null, function (data, textStatus, jQxhr) {
            if (!$.trim(data)) {
                var schedule = {
                    Year: $("#myYrVar").val(),
                    Month: convertToMonth(Number($("#myMtVar").val())),
                    Day: document.getElementById('day').innerHTML
                };
                ajax("https://localhost:44354/api/Schedules/", "post", JSON.stringify(schedule), function (data) {
                    ajax("https://localhost:44354/api/Schedules/", "get", null, function (data, textStatus, jQxhr) {
                        $.each(data, function (i, val) {
                            if (val.Month == convertToMonth(Number($("#myMtVar").val())) && val.Year == $("#myYrVar").val() && val.Day == document.getElementById('day').innerHTML) {
                                for (var j = 0; j < 24; j++) {
                                    if ($("#textbox" + j).val() != "") {
                                        var time = {
                                            Hour: document.getElementById('time' + j).innerHTML,
                                            Content: $("#textbox" + j).val(),
                                            ScheduleId: val.Id
                                        };
                                        ajax("https://localhost:44354/api/Times/", "post", JSON.stringify(time), function (data) { });
                                    }
                                }
                            }
                        });
                    });
                });
                isFound = true;
            }
            else {
                $.each(data, function (i, val) {
                    if (val.Month == convertToMonth(Number($("#myMtVar").val())) && val.Year == $("#myYrVar").val() && val.Day == document.getElementById('day').innerHTML) {
                        id = val.Id;
                        ajax("https://localhost:44354/api/Times/", "get", null, function (data, textStatus, jQxhr) {
                            if (!$.trim(data)) {
                                for (var j = 0; j < 24; j++) {
                                    if (val.Hour != document.getElementById('time' + j).innerHTML && $("#textbox" + j).val() != "") {
                                        var time = {
                                            Hour: document.getElementById('time' + j).innerHTML,
                                            Content: $("#textbox" + j).val(),
                                            ScheduleId: id
                                        };
                                        ajax("https://localhost:44354/api/Times/", "post", JSON.stringify(time), function (data, textStatus, jQxhr) { });
                                    }
                                }
                            }
                            else {
                                $.each(data, function (i, val) {
                                    if (val.ScheduleId == id) {
                                        for (var j = 0; j < 24; j++) {
                                            if (val.Hour != document.getElementById('time' + j).innerHTML && $("#textbox" + j).val() != "") {
                                                var time = {
                                                    Hour: document.getElementById('time' + j).innerHTML,
                                                    Content: $("#textbox" + j).val(),
                                                    ScheduleId: id
                                                };
                                                ajax("https://localhost:44354/api/Times/", "post", JSON.stringify(time), function (data, textStatus, jQxhr) { });
                                            }
                                            else {
                                                var time = {
                                                    Id: val.Id,
                                                    Hour: val.Hour,
                                                    Content: $("#textbox" + i).val(),
                                                    ScheduleId: id
                                                };
                                                ajax("https://localhost:44354/api/Times/" + val.Id, "put", JSON.stringify(time), function (data) { });
                                            }
                                        }
                                    }
                                });
                            }
                        });
                        isFound = true;
                        return false;
                    }
                });
            }
            if (isFound == false) {
                var schedule = {
                    Year: $("#myYrVar").val(),
                    Month: convertToMonth(Number($("#myMtVar").val())),
                    Day: document.getElementById('day').innerHTML
                }
                ajax("https://localhost:44354/api/Schedules/", "post", JSON.stringify(schedule), function (data) {
                    ajax("https://localhost:44354/api/Schedules/", "get", null, function (data, textStatus, jQxhr) {
                        $.each(data, function (i, val) {
                            if (val.Month == convertToMonth(Number($("#myMtVar").val())) && val.Year == $("#myYrVar").val() && val.Day == document.getElementById('day').innerHTML) {
                                for (var j = 0; j < 24; j++) {
                                    if ($("#textbox" + j).val() != "") {
                                        var time = {
                                            Hour: document.getElementById('time' + j).innerHTML,
                                            Content: $("#textbox" + j).val(),
                                            ScheduleId: val.Id
                                        };
                                        ajax("https://localhost:44354/api/Times/", "post", JSON.stringify(time), function (data) { });
                                    }
                                }
                            }
                        });
                    });
                });
            }
        });
    }

    function ajax(url, type, info, htmlMethod) {
        $.ajax({
            url: url,
            dataType: 'json',
            type: type,
            contentType: 'application/json',
            data: info,
            beforeSend: function () {
                Show();
            },
            success: htmlMethod,
            complete: function () {
                Hide();
            },
            error: function (jqXhr, textStatus, errorThrown) {
                console.log(errorThrown);
            }
        });
    }

    $(document).ready(function () {
        $("#div_Loader").hide();
    });

    function Show() {
        $('#div_Loader').show();
    }

    function Hide() {
        $('#div_Loader').hide();
    }

    current();

</script>

